
*
	{
		box-sizing: border-box;
	}
body
	{
		font-family: Pts;
		margin: 4% 0%;
		width: 100%;
	}
h1
	{
		margin-bottom: 13px;
		margin-top: 0px;
	}
button
	{
		font-family: Pts;
		font-size: 16px;
		border-radius: 2px;
	}
img
	{
		margin-right: 0;
		margin-bottom: 5vw;
		width: 75vw;
	}
hr
	{
		height: 1vw;
		background-image: linear-gradient(to right,#6f1b4a,#d07110);
		margin-bottom: 5vw;
		width: 91vw;
	}
.container
	{
		width: 100%;
		margin: 0%;
	}
header
	{
		width: 100%;
		margin: 0%;
	}
.nav 
	{
		position: fixed;
		top: -3.3vw;
		display: block;
	}
.nav a 
	{
		padding: 3px 5px;
		line-height: 100%;
	}
.nav a:hover {
	color: #03598e;
}
.nav ul
	{
		width: 46vw;
		text-align: left;
		padding: 2vw;
		position: absolute;
		border: solid 1px #aaa;
		background: #FAFAFA url(images/icon-menu.png) no-repeat 10px 4px;
		border-radius: 5px;
	}
.nav li 
	{
		display: none;  скрыть все <li> пункты 
		margin: 0;
	}
.nav a 
	{
		text-align: left;
	}
.nav .current a 
	{
		background: none;
		color: #666;
	}
 

.nav ul:hover 
	{
		background-image: none;
	}
.nav ul:hover li
	{
		display: block;
		margin: 0 0 5px;
	}

.nav.right ul 
	{
		left: auto;
		right: 0;
	}
.nav.center ul 
	{
		left: 50%;
		margin-left: -90px;
	}
.h_img_cont
	{
		display: block;
		width: 100%;
		text-align: center;
	}
.h_img
	{
		width: 60vw;
	}
.h_container
	{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		margin-bottom: 5vw;
	}
.h_p
	{
		width: 97vw;
		font-size: 4.5vw;
		font-family: Mbi;
		text-align: center;
		background: linear-gradient(to bottom right,#832d3d,#d58a3e);
		-webkit-background-clip: text;
 		-webkit-text-fill-color: transparent;	
	}
.h_login
	{
		display: inline-block;
		font-size: 6vw;
		margin-right: 5vw;
		margin-bottom: 3vw;
		color: #216cad;
		border-bottom: 1px #216cad dashed;
	}
.h_reg
	{
		display: inline-block;
		background: linear-gradient(to top,#883a65 0%,#883a65 9%,#d58a3e 100%);
		border: 0;
		padding: 0.3vw 1vw 0.6vw;
		font-size: 6vw;
		color: white;
	}
.h_widgets
	{
		width: 100%;
		text-align: center;
		margin-bottom: 5vw;
	}
.likely-small .likely__widget
	{
		font-size: 3vw;
	}
.h_search
	{
		display: inline-block;
	}
.search 
	{
  		width: 100%;
  		position: relative;
	}
.search input 
	{
 		border: none;
	}
.search .input 
	{
  		width: 270px;
  		padding: 7px 37px 7px 12px;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
  		border-radius: 2px;
  		border: 1px solid #bfbfbf;
	}
.search .submit 
	{
 		position: absolute;
  		top: 0;
  		right: 0;
  		width: 30px;
  		height: 100%;
  		cursor: pointer;
 		background: url(images/find.png) 50% no-repeat;
	}
input[type="search"] 
	{
 		-webkit-appearance: none;
	}
.h_h1
	{
		display: inline-block;
		font-family: Mbi;
		color: #216cad;
		text-decoration: underline;
		margin-right: 0px;
	}
.h_count
	{
		display: inline-block;
		font-size: 14px;
		color: #7f7f7f;
		margin-right: 0px;
	}
.h_button
	{
		padding: 4px 10px;
		border: 1px solid orange;
		background: url(images/plus.png) no-repeat;
		text-indent: 13px;
		background-position: 7px center;*/
	}
aside
	{
		margin: 0vw 0.5vw 5vw;
		text-align: center;
	}
.a_subscribe
	{
		width: 73vw;
		background: linear-gradient(to bottom right,#d07110,#6f1b4a);
		padding: 5vw 2vw;
		text-align: center;
		margin: 0vw 13vw 5vw;
	}
.a_h1
	{
		font-family: Mbi;
		font-size: 24px;
		color: white;
		text-align: center;
		position: relative;
		margin-bottom: 28px;
	}
.a_email
	{
		display: inline-block;
		width: 248px;
		margin-bottom: 20px;
	}
.a_email input
	{
		box-sizing: border-box;
		width: 100%;
		height: 30px;
		padding-left: 14px;
		font-size: 15px;
		font-family: Pts;
	}
.a_button
	{
		padding: 3px 13px;
		border: 1px solid white;
		background: transparent;
		color: white;
		margin-bottom: 9px;
	}
.a_text
	{
		font-size: 12px;
		color: white;
	}
.a_banner
	{
		width: 73vw;
		height: 55vw;
		text-align: center;
		background: url(images/dark.png);
		padding: 9vw 1vw;
		margin: 0vw 13vw 5vw;
	}
.a_type
	{
		font-family: Ptb;
		font-size: 4vw;
		color: white;
		margin-bottom: 4vw;
	}
.a_h
	{
		font-family: Mpr;
		font-size: 8vw;
		color: white;
		margin-bottom: 4vw;
	}
.a_date
	{
		color: white;
	}
main
	{
		margin: 1vw 11vw;
	}
#vk_groups_desktop
	{
		display: none;
	}
#vk_groups_mobile
	{
		width: auto;
		height: auto;
	}
.img_left
	{
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		text-align: center;
	}
.img_left_first_column
	{
		width: 100%;
		text-align: center;
	}
.img_left_second_column
	{
		width: 100%;
		text-align: center;
	}
.img_right
	{
		width: 100%;
		text-align: center;
	}
.mk
	{
		width: 75vw;
		background: url(images/mk.png);
		text-align: left;
		padding: 10px 10px 0px 22px;
		margin: 0vw 1.5vw 5vw;
	}
.mk_text
	{
		margin-top: 114px;
	}
.name_speaker
	{
		font-family: Pts;
		font-size: 15px;
		color: white;
	}
.name_mk
	{
		font-family: Mbi;
		font-size: 18px;
		color: white;
		margin-top: 6px;
	}
.panel
	{
		width: 82px;
		height: 50px;
		float: right;
	}
.items
	{
		width: 5vw;
		margin-right: 1vw;
		text-align: center;
	}
.img_items
	{
		margin-bottom: 1.3vw;
		position: relative;
		top: 7px;
	}
.f_text
	{
		margin-left: 20px;
		font-size: 15px;
		margin-bottom: 5px;
	}
.f_a
	{
		color: #216cad;
		text-decoration: none;
		border-bottom: 1px solid #216cad;
	}
.menu
	{
		background: #FAFAFA url(images/icon-menu.png) no-repeat 10px 4px;
		width: 10vw;
		height: 6vw;
		padding: 2vw;
		position: absolute;
		top: 7vw;
		border: solid 1px #aaa;
		border-radius: 5px;
	}
.mobile_menu_click
	{
        display: none;
    }
.menu__category
	{
            display: none;
    }
.mobile_menu_click
	{
        display: block;
    }
.menu__category li 
	{
        display: block;
    }