*
	{
		box-sizing: border-box;
	}
body
	{
		font-family: Pts;
		font-size: 18px;
		margin-left: 200px;
		margin-right: 200px;
		margin-top: 4px;
	}
h1
	{
		font-family: Mbi;
		font-size: 32px;
		margin-bottom: 13px;
		margin-top: 0px;
	}
button
	{
		font-family: Pts;
		font-size: 16px;
		border-radius: 2px;
	}
hr
	{
		height: 5px;
		background-image: linear-gradient(to right,#6f1b4a,#d07110);
		margin-bottom: 27px;
	}
.container
	{
		width: 1200px;
		margin: 0px auto;
	}
header
	{
		width: 1200px;
		height: 170px;
		margin-left: 24px;
	}
.h_img_cont
	{
		display: inline-block;
	}
.h_img
	{
		display: inline-block;
		width: 168px;
		margin: 11px 30px 0px 16px;
	}
.h_container
	{
		display: inline-block;
		vertical-align: top;
		width: 958px;
		height: 170px;
	}
.h_p
	{
		display: inline-block;
		white-space: pre;
		width: 778px;
		height: 60px;
		font-size: 26px;
		font-family: Mbi;
		text-align: left;
		background: linear-gradient(to bottom right,#832d3d,#d58a3e);
		-webkit-background-clip: text;
 		-webkit-text-fill-color: transparent;	
	}
.h_login
	{
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		color: #216cad;
		border-bottom: 1px #216cad dashed;
		margin-right: 17px;
		margin-top: 31px;
	}
.h_reg
	{
		display: inline-block;
		vertical-align: text-bottom;
		background: linear-gradient(to top,#883a65 0%,#883a65 9%,#d58a3e 100%);
		border: 0;
		padding: 5px 20px;
		font-size: 15px;
		color: white;
	}
.h_widgets
	{
		display: inline-block;
		width: 420px;
		position: relative;
		top: -10px;
	}
.h_search
	{
		display: inline-block;
		position: relative;
		left: 263px;
		top: 14px;
	}
.search 
	{
  		width: 100%;
  		position: relative;
	}
.search input 
	{
 		border: none;
	}
.search .input 
	{
  		width: 270px;
  		padding: 7px 37px 7px 12px;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;
  		border-radius: 2px;
  		border: 1px solid #bfbfbf;
	}
.search .submit 
	{
 		position: absolute;
  		top: 0;
  		right: 0;
  		width: 30px;
  		height: 100%;
  		cursor: pointer;
 		background: url(images/find.png) 50% no-repeat;
	}
input[type="search"] 
	{
 		-webkit-appearance: none;
	}
.h_h1
	{
		display: inline-block;
		font-family: Mbi;
		color: #216cad;
		text-decoration: underline;
		margin-right: 0px;
	}
.h_count
	{
		display: inline-block;
		font-size: 14px;
		color: #7f7f7f;
		margin-right: 0px;
	}
.h_button
	{
		padding: 4px 10px;
		border: 1px solid orange;
		background: url(images/plus.png) no-repeat;
		text-indent: 13px;
		background-position: 7px center;*/
	}
.nav 
	{
		/*	margin: 20px 0;*/
		position: relative;
		left: 50px;
		top: 20px;
	}
.nav ul 
	{
		margin: 0;
		padding: 0;
	}
.nav li 
	{
		margin: 0px 0px 10px 0px;
		padding: 0px 11px 0px 0px;
		list-style: none;
		display: inline-block;
		*display:inline; /* ie7 */
	}
.nav a {
	padding: 3px 5px;
/*	text-decoration: none;*/
	line-height: 100%;
}
.nav a:hover {
	color: #03598e;
}
aside
	{
		display: inline-block;
		width: 288px;
		height: 1000px;
		float: right;
	}
.a_subscribe
	{
		width: 288px;
		height: 260px;
		background: linear-gradient(to bottom right,#d07110,#6f1b4a);
		padding: 30px 20px 27px;
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 17px;
	}
.a_h1
	{
		font-family: Mbi;
		font-size: 24px;
		color: white;
		text-align: center;
		position: relative;
		margin-bottom: 28px;
	}
.a_email
	{
		display: inline-block;
		width: 248px;
		margin-bottom: 20px;
	}
.a_email input
	{
		box-sizing: border-box;
		width: 100%;
		height: 30px;
		padding-left: 14px;
		font-size: 15px;
		font-family: Pts;
	}
.a_button
	{
		padding: 3px 13px;
		border: 1px solid white;
		background: transparent;
		color: white;
		margin-bottom: 9px;
	}
.a_text
	{
		font-size: 12px;
		color: white;
	}
.a_banner
	{
		width: 288px;
		height: 333px;
		text-align: center;
		background: url(images/dark.png);
		padding: 80px 10px;
		margin-bottom: 17px;
	}
.a_type
	{
		font-family: Ptb;
		font-size: 17px;
		color: white;
		margin-bottom: 12px;
	}
.a_h
	{
		font-family: Mpr;
		font-size: 39px;
		color: white;
		margin-bottom: 45px;
	}
.a_date
	{
		color: white;
	}
#vk_groups_desktop
	{
		width: auto;
		height: auto;
	}
#vk_groups_mobile
	{
		display: none;
	}
.f_text
	{
		margin-left: 20px;
		font-size: 15px;
		margin-bottom: 5px;
	}
.f_a
	{
		color: #216cad;
		text-decoration: none;
		border-bottom: 1px solid #216cad;
	}