img
	{
		margin-right: 7px;
		margin-bottom: 15px;
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		height: auto;
	}
main
	{
		margin-bottom: 23px;
	}
.img_left
	{
		width: 604px;
		display: inline-block;
	}
.img_left_first_column
	{
		display: inline-block;
		width: 300px;
		vertical-align: top;
	}
.img_left_second_column
	{
		display: inline-block;
		width: 295px;
	}
.img_right
	{
		width: 300px;
		display: inline-block;
		vertical-align: top;
	}
.img_items
	{
		margin-right: 1px;
		margin-bottom: 1px;
		position: relative;
		top: 7px;
	}
.count_items
	{
		font-size: 12px;
		color: white;
	}
.mk
	{
		width: 288px;
		height: 215px;
		background: url(images/mk.png);
		text-align: left;
		padding: 10px 10px 0px 22px;
		margin-bottom: 15px;
	}
.mk_text
	{
		margin-top: 114px;
	}
.name_speaker
	{
		font-family: Pts;
		font-size: 15px;
		color: white;
	}
.name_mk
	{
		font-family: Mbi;
		font-size: 18px;
		color: white;
		margin-top: 6px;
	}
.panel
	{
		width: 82px;
		height: 50px;
		float: right;
	}
.items
	{
		width: 23px;
		height: 40px;
		display: inline-block;
		margin-right: 1px;
		margin-bottom: 1px;
		text-align: center;
	}