li
	{
		list-style-type: none;
	}
ul
	{
		margin: 0px 0px 20px 40px;
		line-height: 23px;
	}
main
	{
		display: inline-block;
		vertical-align: top;
		margin: 20px 164px 0px 0px;
		width: 744px;
	}
.mk
	{
	}
.m_px_20
	{
		font-size: 20px;
		margin-bottom: 30px;
	}
.m_m
	{
		margin-left: 50px;
	}
.m_images
	{
		margin-bottom: 40px;
	}
.m_proc
	{
		display: inline-block;
	}
.m_number
	{
		display: inline-block;
		font-family: Mit;
		font-size: 54px;
		color: #999999;
		line-height: 34px;
		vertical-align: top;
		margin-right: 14px;
		margin-left: 7px;
	}
.m_process
	{
		display: inline-block;
		width: 680px;
		margin-bottom: 20px;
	}
.m_stat
	{
		width: 600px;
		height: 60px;
		background: url(images/backgrounds.png);
		padding: 10px 0px;
		margin-bottom: 70px;
	}
.m_s_c
	{
		margin-left: 50px;
	}
.m_s_i
	{
		vertical-align: middle;
		display: inline-block;
		margin-right: 1px;
		margin-left: 2px;
	}
.m_s_count
	{
		display: inline-block;
		font-size: 14px;
		margin-right: 14px;
	}
.m_s_like
	{
		display: inline-block;
		padding: 8px 12px;
		border: 1px solid #a1a1a1;
		border-radius: 4px;
		background: #dddddd url(images/like.png) no-repeat 8px;
		text-indent: 13px;
	}
.m_s_a
	{
		color: black;
		text-decoration: none;
		font-size: 16px;
	}
.m_s_c_l
	{
		margin-right: 8px;
	}
.mk_images_cont
	{
		width: 1200px;
		display: inline-block;
		margin-bottom: 20px;
	}
.mk_images
	{
		display: inline-block;
		margin-right: 16px;
		vertical-align: top;
		width: 284px;
	}
.mk_image_final
	{
		margin-right: 0px;
	}
.comments
	{
		font-family: Mbi;
		font-size: 32px;
		margin-bottom: 23px;
	}
.m_image_comments
	{
		margin-bottom: 28px;
	}