@font-face
	{
		font-family: Mbi;
		src: url("fonts/Merriweather Bold Italic.ttf");
	}
@font-face
	{
		font-family: Mit;
		src: url("fonts/Merriweather Italic.ttf");
	}
@font-face
	{
		font-family: Pts;
		src: url("fonts/PTS55F.ttf");
	}
@font-face
	{
		font-family: Ptb;
		src: url("fonts/Pt Sans Bold.ttf");
	}
@font-face
	{
		font-family: Mpr;
		src: url("fonts/Myriad Pro.otf");
	}