@font-face
	{
		font-family: Ale;
		src: url("fonts/AleksandraC_regular.otf");
	}
@font-face
	{
		font-family: Fre;
		src: url("fonts/fregat.ttf");
	}
@font-face
	{
		font-family: Frb;
		src: url("fonts/fregatbold.ttf");
	}
@font-face
	{
		font-family: E2b;
		src: url("fonts/Exo 2 Bold.otf");	
	}
@font-face
	{
		font-family: Ex2;
		src: url("fonts/exo2.ttf");
	}
@font-face
	{
		font-family: Mbi;
		src: url("fonts/Merriweather Bold Italic.ttf");
	}
@font-face
	{
		font-family: Mit;
		src: url("fonts/Merriweather Italic.ttf");
	}
@font-face
	{
		font-family: Pts;
		src: url("fonts/PTS55F.ttf");
	}
@font-face
	{
		font-family: Ptb;
		src: url("fonts/Pt Sans Bold.ttf");
	}
@font-face
	{
		font-family: Mpr;
		src: url("fonts/Myriad Pro.otf");
	}