*
	{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: Fre;
		font-size: 19px;
	}
body
	{
		font-family: Pts;
		font-size: 18px;
		background: antiquewhite;
	}
h1
	{
		font-family: Ex2;
		font-size: 40px;
		margin-bottom: 13px;
	}
button
	{
		font-family: Frb;
		font-size: 16px;
		border: none;
		padding: 8px 17px;
		color: white;
		background: peru;
	}
.container-fluid
	{
		
	}
.h_h
	{
		padding-left: 100px;
		padding-top: 100px;
		padding-bottom: 200px;
		color: white;
		text-shadow: black 4px 1px 8px;
	}
.h_h1
	{
		font-family: E2b;
		font-size: 48px;
		line-height: 54px;
		margin-bottom: 10px;
	}
.h_h2
	{
		font-family: E2b;
		font-size: 30px;
	}
.h_text
	{
		font-size: 25px;
	}
.action
	{
		padding-top: 50px;
		padding-right: 100px;
		text-align: center;
	}
.back_top
	{
		background: url("images/11.3.jpg") no-repeat center;
	}
.form_h
	{
		background: white;
		padding: 10px;
	}
.icons
	{
		color: peru;
		margin: 10px;
	}
.a_t
	{
		line-height: 20px;
		font-size: 15px;
		margin-bottom: 10px;
	}
input[type=email]
	{
		font-family: Fre;
		font-size: 17px;
		padding: 6px 6px;
		text-indent: 3px;
		margin-bottom: 10px;
	}
input[type=checkbox]
	{
		width: 20px;
	}
.ps
	{
		font-size: 12px;
		display: inline;
	}
.main
	{
		text-align: center;
		background: white;
		position: relative;
		top: -50px;
		margin-left: 100px;
		margin-right: 100px;
		padding-top: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
.m_h1
	{
		text-align: center;
		width: 100%
	}
.m_i
	{
		width: 200px;
	}
.bon
	{
		display: inline-block;
		position: relative;
		top: -10px;
	}
.bonus
	{
		padding-left: 200px;
		padding-right: 150px;
		text-align: left;
	}
.bonus_h
	{
		font-family: Ex2;
		font-size: 40px;
		margin-bottom: 13px;
	}
.back_footer
	{
		background: url("images/footer.jpg") no-repeat center;
		height: 336px;
		padding-top: 64px;
		display: block;
	}
.form_f
	{
		width: 758px;
		padding-left: 227px;
	}
.footer_text
	{
		font-family: Frb;
		font-size: 32px;
		margin-bottom: 10px;
	}
.footer_sogl
	{
		margin-bottom: 46px;
	}
.footer_comp
	{
		display: block;
		margin-left: 227px;
	}